// Variables:
// --colors
$primary-color:rgb(113, 104, 104);
$secondary-color:orange;
$heading-color:#fff;
$links-color:$heading-color;
$sub-heading-color:#f4f4f4;
$body-color:#f4f4f4;
//--fonts
$body-font: Helvetica, sans-serif;
//functions => Set text color based on background
@function text-color($color){
       @if(lightness($color)>70){
              @return #333;
       }@else{
              @return #fff;
       }
}
// set background and text based on primary color
@mixin primary-theme($color){
       background-color:$color;
       color:text-color($color);
}

// for Each => 
$steps: (1,2,3,4,5,6);

@each $step in $steps{
       .m-#{$step}{ //both
              margin: #{$step*10}px;
       }
       .my-#{$step}{ // y up and down
              margin: #{$step*10}px 0;
       }
       .mx-#{$step}{ // x left and right
              margin: 0 #{$step*10}px;
       }
       .p-#{$step}{
              margin: #{$step*10}px 0;
       }
       // and more and more and we can add this classes in html to each element then will work 
}